<h4 class="mb-3">Post Single</h4>
<app-posts-form *ngIf="post$ | async as post; else loaderTpl"
                [post]="post"
                (submitted)="postSubmitted($event)">
</app-posts-form>
<ng-template #loaderTpl>
    <app-loader></app-loader>
</ng-template>
