<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

    <div class="mb-3">
        <label class="form-label">Title</label>
        <input class="form-control" type="text" formControlName="title" appFormErrors>
    </div>
    <div class="mb-3">
        <label class="form-label">Body</label>
        <textarea class="form-control" formControlName="body" appFormErrors></textarea>
    </div>

    <button *ngIf="!isLoading; else loaderTpl" class="btn btn-primary" [disabled]="formGroup.invalid">Submit</button>
</form>

<ng-template #loaderTpl>
    <app-loader></app-loader>
</ng-template>
