<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" id="postListingLink" [routerLink]="['/posts']" routerLinkActive="active">Post Listing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="postCreateLink" [routerLink]="['/posts/create']" routerLinkActive="active">Create Post</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="mt-4 content">
        <router-outlet></router-outlet>
    </div>
</div>
