<h4 class="mb-3">Post Listing</h4>

<table *ngIf="posts$ | async as posts" class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td>{{ post.id }}</td>
      <td><a class="link-primary" [routerLink]="[post.id]">{{ post.title }}</a></td>
      <td>{{post.body}}</td>
    </tr>
  </tbody>
</table>

<app-loader *ngIf="isLoading$ | async"></app-loader>
